
<div style="display: flex; align-items: center;">
<label style="padding: 0px 4px 0px 8px;"  for ="genre">Genre: </label>
<select id="genre" class="form-select form-select-sm" [(ngModel)]="selectedgenre" (change)="displayResults()">
    <option  value="Hip Hop" selected>Hip Hop</option>
    <option  value="Country">Country</option>
    <option  value="EDM">EDM</option>
    <option  value="Pop" selected>Pop</option>
    <option  value="Rock">Rock</option>
    <option  value="R&B">R&B</option>
    <option  value="Latin" selected>Latin</option>
    <option  value="K-Pop">K-Pop</option>
    <option  value="Jazz">Jazz</option>
    <option  value="Indie/Alternative">Indie/Alternative</option>
    

</select>


<label style="padding: 0px 4px 0px 8px;" for ="question">Question: </label>
<select id="question" class="form-select form-select-sm" [(ngModel)]="selectedquestion" (change)="displayResults()">
    <option  [ngValue]="5" selected>5</option>
    <option  [ngValue]="10">10</option>
    <option  [ngValue]="15">15</option>

</select>
</div>

<br>
<table style="margin-left: 15%;" class="table table-dark table-sm">
<tr>
    <th scope="col">Place</th>
    <th scope="col">Name</th>
    <th scope="col">Score</th>
    <th scope="col">Genre</th>
</tr>
<tr *ngFor = "let result of resultarray; index as i">
    <td>{{i+1}}</td>
    <td>{{result.name}}</td>
    <td>{{result.score}}</td>
    <td>{{result.genre}}</td>
</tr>
</table>
