<div style="display: flex; align-items: center;justify-content: center;">
<div *ngIf="authenticated">
    <button style="margin-top: 3px;" class="btn btn-primary" *ngIf ="!disablestartbutton" (click)="searchGenre()">Start Quiz</button>

    <div *ngIf="quizTracks.length > 0">
        <div *ngIf="songNum >= 0 && songNum < quizTracks.length">
            <h1>Question {{songNum + 1}}:</h1>
            
            <input class="form-control" type="text" [(ngModel)]="userGuess" placeholder="Guess Song Title or Artist">
            <audio style="position: relative;top: 3px;" controls [src]="quizTracks[songNum].preview_url"></audio>

            <div *ngIf="trackGuess">
                <div *ngIf="correctTrack">
                    <h3>Correct Track Name</h3>
                </div>

                <div *ngIf="!correctTrack">
                    <h3>Incorrect Track Name</h3>
                </div>
            </div>

            <div *ngIf="artistGuess">
                <div *ngIf="correctArtist">
                    <h3>Correct Artist</h3>
                </div>

                <div *ngIf="!correctArtist">
                    <h3>Incorrect Artist</h3>
                </div>
            </div>

            <div *ngIf="guessCounter === 2">
                <img [src]="quizTracks[songNum].album.images[0].url">
                <h3>{{quizTracks[songNum].name}}</h3>
                <h5>{{quizTracks[songNum].artists[0].name}}</h5>

                <h3>+ {{calculatePoints()}} points</h3>

                <button class="btn btn-primary" (click)="nextQuestion()">Next Question</button>
            </div>

            <div *ngIf="guessCounter !== 2">
                <button class="btn btn-primary" (click)="checkGuess(userGuess, quizTracks[songNum].name, quizTracks[songNum].artists[0].name)">Guess</button>
            </div>
        </div>

        <div *ngIf="songNum === quizTracks.length">
            <h1>Quiz Complete!</h1>
            <h3>Score: {{userScore}}</h3>
        </div>
    </div>
</div>

</div>