#background{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(255, 241, 241, 0.475),rgba(0, 0, 0, 0.5)) ,url(../assets/images/3d-background-spotify-icon_318923-140.jpg);
}
